# Copyright (c) 2020 Pete Johanson
# SPDX-License-Identifier: MIT

config SHIELD_CORNIX_L
	def_bool $(shields_list_contains,cornix_L)

config SHIELD_KLOR_RIGHT
	def_bool $(shields_list_contains,cornix_R)
